@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.item {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #f60;
  border-radius: 100px;
  
  background-color: white;
  color: #34495e;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}

.link {
  color: #34495e;
  text-decoration: none;
  font-size: 1.5rem;
}

.score {
  color: #f60;
  flex: 0 0 5rem;
  font-size: 2.5rem;
  margin-right: 1rem;
}
