@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.logo {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  color: white;
  font-size: 2rem;
  /* vertical-align: middle; */
  margin-right: 1.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.logo_text{
  cursor: pointer;
}


.tags {
  color: white;
  font-size: 2rem;
  display: block;
  margin-right: 1.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.nav {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header {
  background-color: #f60;
  height: 5rem;
  padding: 0 1.5rem;
}

.selected {
  color: rgb(112, 35, 150);
}

