@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 601px ) {
  .page-select {
    display: none;
  }
}


.main {
  background-color: #f9f9f9;
  min-height: calc(100vh - 100px)
}
